.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 10px 0;
    padding-left: 30px;
    padding-right: 0px;
    border-style: groove;
    border-color: #EAAEAE;;
}

.title{
    flex: 33%; 
    border-radius: 10px;
    border-color: red;
}

.type{
    flex: 33%;
    border-radius: 10px;
    border-color: red;
}

.download{
    flex: 33%;
    border-radius: 10px;
    border-color: red;
}
