.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.marginLeft{
    margin: 0 10px 0 1px;
}

@media screen and (max-width: 480px) {

    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mainDiv{
      width: 50%;
  }

  .marginLeft{
    margin: 0 10px 0 1px;
}
  
  }
   