
.divHeader {
    /* width: 100%; */
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divSVG{
    width: 30px;
    width: 30px;
    padding: 0 20px;
}

.iconsRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.active {
    border-bottom: 1px solid firebrick;
}

.image {
    border-radius: 50px;
    border-radius: 50%;
}

.inputBox {
    width: 130%;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    color: black;
    
  }

.marginRight{
    margin-right: 80px;
    margin-left: 100px;
}

.marginLeft{
    margin-left: 80px;
}

.marginBelow{
    margin-bottom: 20px
}

.title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    background: #F2ECEC ;
    padding: 10px 10px 10px 10px;
    border-radius: 30px; 
    margin-right: 20px;
    font-family: Arial, sans-serif;
    
}

.Logintitle{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    font-family: Arial, sans-serif;
}

.titleAlignment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.wallpaper {
    width: 100px;
}


.heading{
    margin: 20px 50px 20px 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.circles{ 
    margin-top: 30px;
    background: #F2ECEC ;
    padding: 10px 10px 10px 10px;
    border-radius: 50%; 
    /* margin: 20px 50px 20px 50px; */
    width: 180px;
    height: 180px
}

.circlesContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}


